<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright  ©️2017 Rails105
    <br>Design by
    <a href="http://courser.growthschool.com/courses/rails-105/" target=_new>MC</a>
  </p>
</footer>
